[submodule "Piscine"]
	path = Piscine
	url = git@github.com:SrVariable/Piscine.git
[submodule "Cursus"]
	path = Cursus
	url = git@github.com:SrVariable/Cursus.git
[submodule "DiscoveryWeb"]
	path = DiscoveryWeb
	url = git@github.com:SrVariable/DiscoveryWeb.git
