[submodule "Piscine"]
	path = Piscine
	url = git@github.com:SrRecursive/Piscine.git
[submodule "Cursus"]
	path = Cursus
	url = git@github.com:SrRecursive/Cursus.git
[submodule "DiscoveryWeb"]
	path = DiscoveryWeb
	url = git@github.com:SrRecursive/DiscoveryWeb.git
